main {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    
}


.option {
    width: 200px;
    margin-bottom: 2px;
}

.question {
    margin-right: 20px;
    margin-bottom: 15px;
    width: 300px;
}

.option:hover {
    box-shadow:0px 0px 0px 1px orange inset;
}

.correct_answer {
    background-color: rgb(18, 189, 18);
}

.wrong_answer {
    background-color: rgb(255, 59, 59);
}

.display_correct_answer {
    box-shadow:0px 0px 0px 2px green;
    background-color: lightgreen;
}

.score_display{
    display: inline;
}

body {
    display:grid;
}

button {
    max-width: 120px;
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: 8px 5px 5px rgb(210, 206, 206);
}